<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuya0817.ReviveSeat">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".starbucks" />
        <activity android:name=".Select_find_method" />
        <activity android:name=".Location_cafename" />
        <activity android:name=".Category_list" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".qrcode" />
        <activity android:name=".MakeAccount" />
        <activity android:name=".TableSet" />
        <activity android:name=".Evaluation" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".wait" />
        <activity android:name=".arrive_wait" />
        <activity android:name=".Confirmation" />
        <activity android:name=".Sharing" />
        <activity android:name=".select_share_sheet_host" />
        <activity android:name=".select_share_sheet_guest" />
        <activity android:name=".matching"></activity>
    </application>

</manifest>