<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuya0817.ReviveSeat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.yuya0817.ReviveSeat.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.yuya0817.ReviveSeat.Main2Activity" />
        <activity android:name="com.example.yuya0817.ReviveSeat.Main3Activity" />
        <activity android:name="com.example.yuya0817.ReviveSeat.starbucks" />
        <activity android:name="com.example.yuya0817.ReviveSeat.Select_find_method"></activity>
    </application>

</manifest>